.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.address-balance{
  margin-top:200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address{
  width: 400px;
  padding: 0.5rem 1rem;
  margin-right: 100px;
  border: none;
  font-size: 1rem;
  border: 1px solid black;
}

.balance{
  font-size: 2rem;
}

.claim-connect{
  margin-top: 10px;
}

.amount{
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-right: 40px;
}

.btn-claim-enable{
  padding: 0.5rem 1rem;
  border:none;
  cursor:pointer;
  background-color: rgb(157, 179, 158);
}

.btn-connectwallet{
  margin-top:10px;
  cursor:pointer;
  padding: 0.5rem 1rem;
  border:none;
  margin-right: 100px;
  background-color: rgb(123, 145, 185);
}